.register {
    height: 100vh;
    background-color: #01b7f9;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .card {
      width: 50%;
      background-color: white;
      border-radius: 10px;
      min-height: 600px;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
  
      .left {
        flex: 1;
        background: linear-gradient(
            rgba(39, 11, 96, 0.068),
            rgba(39, 11, 96, 0.5)
          ),
          url(../../assets/kaydo21_12-year-old_boy_walking_at_night_on_a_dirt_road_under_t_d64e8b0f-577b-45ab-b174-61192b1f660f.png) center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
  
        h1 {
          font-size: 45px;
          line-height: 100px;
        }
  
        span {
          font-size: 14px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: white;
          color: #01b7f9;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        
        h1 {
          color: #555;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
              border: none;
              border-bottom: 1px solid #ccc;
              padding: 20px 10px;
          }
          button {
              width: 50%;
              padding: 10px;
              border: none;
              background-color: #306AFF;
              color: white;
              font-weight: bold;
              cursor: pointer;
          }
        }
      }
    }
  }  